<h1>About</h1>

<div class="about">
  <%= image_tag 'top/about.jpg', width: '40%', height: '40%', class:"about-img"%>
  <p class="about-txt">
    ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。
  </p>
</div>
