<footer class="footer-main">
    <div class="container py-5">
      <div class="row">
        <div class="col-6 col-md">
          <h5>NAGANO CAKE</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to "Top", public_homes_top_path, class:"text-muted" %></li>
            <li><%= link_to "About", public_homes_about_path, class:"text-muted" %></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Products</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to "商品一覧", public_products_path, class:"text-muted" %></li>
            <li><a class="text-muted" href="#">####</a></li>
            <li><a class="text-muted" href="#">####</a></li>
            <li><a class="text-muted" href="#">####</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Access</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">####</a></li>
            <li><a class="text-muted" href="#">####</a></li>
            <li><a class="text-muted" href="#">####</a></li>
            <li><a class="text-muted" href="#">####</a></li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <small><%= link_to "To Administrator", new_admin_session_path, class:"d-block mb-3 text-muted" %></small>
          <small class="d-block mb-3 text-muted">&copy; 2021</small>
        </div>
      </div>
  </div>
</footer>
