<header>
  <nav class="navbar navbar-expand-md navbar-dark header-main">
    <div class="container">
      <h1 class="m-0">
        <a href="#" class="navbar-brand d-block">NAGANO CAKE</a>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#grobalNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="grobalNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pl-4 active">
            <a href="#" class="nav-link text-center">ABOUT</a>
          </li>
          <li class="nav-item pl-4">
            <a href="#" class="nav-link text-center">PRODUCTS</a>
          </li>
          <li class="nav-item pl-4">
            <a href="#" class="nav-link text-center">SIGN UP</a>
          </li>
          <li class="nav-item pl-4">
            <a href="#" class="nav-link text-center">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>