@import "bootstrap";
@import "colors";
@import "dimensions";
@import "pagination";


 @charset "utf-8";

.header-main{
    background-color: $iceblue;
}

.footer-main{
    background-color: $beige;
}


.customer_login_Login,
.customer_login_signed_in,
.customer_login_nsigned_in{
    background-color: whitesmoke ;
}

.customer_login_Login{
    width: 120px;
}

.customer_login_signed_in{
    width: 290px;
}

.customer_login_nsigned_in{
    width: 270px;
}

.main {
  margin: 50px 0;
}

body {
  font-family: "YuGothic";
}