@import "bootstrap";
@import "colors";

@import "dimensions";
@import "pagination";

 @charset "utf-8";

.header-main{
    background-color: $iceblue;
    .welcome-text {
      background-color: $light_green;
      color: white;
    }
}

.footer-main{
    background-color: $beige;
}

.new-registration{
  .new-customer-registration{
    width: 180px;
    height: 35px;
    background-color: whitesmoke ;
  }
  .new-session{
    width: 240px;
    height: 35px;
    background-color: whitesmoke ;
  }
}

.infos_cell{
  margin: 0;
  height: 40px;
}

.customer_login_Login,
.customer_login_signed_in,
.customer_login_nsigned_in{
    background-color: whitesmoke ;
}

.customer_login_Login{
    width: 120px;
}

.customer_login_signed_in{
    width: 290px;
}

.customer_login_nsigned_in{
    width: 270px;
}

.main {
  margin: 50px 0;
}

body {
  font-family: "YuGothic";
}


.top {
  .top-view{
    display: flex;
    .top-img {
      margin-right: 10px;
    }

    .top-txt {
      line-height: 400%;
    }
  }

  .top-products {
    display: flex;
  }
}

.main-visual {
  position: relative;
  .slider {
    padding-inline-start: 0px;
    img {
    height: 30vw; //ポイント1
    max-height: 400px; //ポイント2
    min-height: 350px; //ポイント2
    }
  }

  .mv-txt {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #FFF;
    background-color: $light-green;
    padding: 8px 12px;

    h3 {
      font-size: 0.8em;
      line-height: 1.25;
    }

  }

}


.about{
  display: flex;

  .about-img {
    margin-right: 10px;
  }

  .about-txt {
    line-height: 400%;
  }
}

.public-customers-show{
  .my-page-top{
    width: 160px;
    height: 35px;
    background-color: whitesmoke ;
  }
}

.new-order-info{
  width: 130px;
  height: 30px;
  background-color: whitesmoke ;
}

.order-infos-confirm{
  .price-list{
    margin: 0;
    height: 50px;
    width: 100px;
  }
  .order-info-confirm-top{
    width: 150px;
    height: 30px;
    background-color: whitesmoke ;
  }
}

.public-order-infos-index{
  .oreder-history{
    width: 210px;
    height: 35px;
    background-color: whitesmoke ;
  }
}

.public-order-infos-show{
  .order-show{
    width: 200px;
    height: 35px;
    background-color: whitesmoke ;
  }
  .order-info-label{
    width: 150px;
    height: 50px;
  }
  .order-info-data{
    width: 400px;
    height: 50px;
  }
  .order-info-address-label{
    width: 150px;
    height: 80px;
  }
  .order-info-address-data{
    width: 400px;
    height: 80px;
  }
  .payment-info{
    width: 175px;
    height: 50px;
  }
  .order_product{
    width: 500px;
  }
  .order-contents{
    margin-left: 15px;
  }
}

.product-index {
 .plus-icon  {
   color: $light_green;
  }
}
